body {
    margin: 0;
    padding: 0;
}

/*START LESSONS*/

main {
    background-color: var(--lessons-color);

}

/*plaatsing van de h1*/
article {
    display: flex;
    justify-self: center;
    color: var(--general-color);
}


.h1 {
    font-family: var(--font-poppins);
    color: var(--general-color);
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--general-color);
    margin: 0;
    margin-top: 2em;
}


h3 {
    font-family: var(--font-poppins);
    font-size: 14px;
    grid-column: span 2;
    margin-top: 1em;
    margin-left: 1em;
    color: var(--general-color);
}

.minuten-story {
    grid-row: 3;
    grid-column: 3;
    align-self: center;
    margin: 0;
    font-size: 12px;
    color: var(--general-color);
}

.story-uitleg {
    grid-row: 2;
    grid-column: span 2;
    padding: .2em;
    align-self: center;
    font-size: 12px;
    color: var(--general-color);
}

.filter-uitleg {
    margin: 1em;
    padding: .5em;
    text-align: center;
    color: var(--general-color);
}


/*zoekbalk*/
label>input {
    display: flex;
    justify-self: center;
    background-size: 1em;
    background-position: .5em;
    background-repeat: no-repeat;
    background-image: url(../svg/magnifying-glass-svgrepo-com.svg);
}

#search {
    height: 2.5em;
    appearance: none;
    width: 80%;
    padding-left: 2em;
}

/*select button*/
select {
    background-color: var(--background-color-select);
    letter-spacing: var(--letter-spacing);
    /* font-size: var(--font-weight); */
    color: var(--font-color);
    border-radius: var(--border-radius);
    border: var(--border-color-width);
    transition: var(--border-color-width);
    cursor: pointer;
}

select:hover {
    background: var(--background-gradient-all-buttons);
}

input::placeholder {
    color: var(--general-color);
}

/*select buttons*/
.keuze-selecteren {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    margin: 1em;
}

/*om de filter te laten werken*/
.hidden {
    /* display: none; */
    position: absolute;
    top: -9999px; /* Verplaats het element buiten het zichtbare gebied */
    left: -9999px; /* Verplaats het ook naar de zijkant */
    visibility: hidden; /* Verberg het element */
}

/*de stories*/
.story-card {
    background-color: var(--wolkje-color);
    border-radius: var(--border-radius-button);
    margin: 1em;
    display: grid;
    grid-template-columns: 25% 45% 30%;
    grid-template-rows: 20% 60% 20%;
}

.photo-story {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.vlag {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 1em;
    margin-top: 1em;
}

.play {
    grid-column: 2;
    grid-row: 3;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: none;
    justify-self: end;
    align-self: center;
    margin-right: .7em;
    cursor: pointer;
    background-color: var(--general-color);
}

.play-icon {
    margin-top: .35em;
}

.downloaden {
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.story-play{
    grid-column: span 2;
    grid-row: 3;
    display: flex;
    justify-content: end;
    margin: 1em;
}


/*EINDE LESSONS*/



/*BUTTON MENU*/

.button-menu {
    background-color: var(--general-color);
    border-radius: var(--border-radius-button);
    width: 5em;
    height: 5em;
    border: var(--border-button);
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--button-text-color);
    cursor: pointer;
}

button:hover {
    background: var(--background-gradient-all-buttons);
}

/*svg (kruisje) als het menu open is*/
#menuIcon {
    width: 45px;
    height: 45px;
    fill: var(--button-text-color);
}

/*EINDE BUTTON*/




/*TABLET*/ /*LAPTOP*/

@media screen and (min-width: 600px) {

    .keuze-selecteren{
        display: flex;
        /* justify-content: space-around; */
        justify-content: center;
        margin-left: 2em;
        margin-right: 2em;
    }

    .all-stories{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filter-uitleg {
        margin: 2em;
        padding: .5em;
    }

    h2 {
        margin-top: 2.5em;
    }

    #search {
        width: 60%;
    }
}


@media screen and (min-width: 1000px){
    .all-stories{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    h3 {
        font-size: 16px;
    }

    .story-uitleg {
        font-size: 14px;
    }

    .minuten-story {
        font-size: 14px;
    }
}